header{
  background: #2c3e50;
  color: #fff;
}
.main {
  background: #f2f2f2;
  border: 1px solid;
}
aside{
  background: #c0392b;
  color: #fff;
}
footer{
  background: #16a085;
  color: #fff;
  height: 60px;
  text-align: center;
}
